.Film-body {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;

  .Film-banner {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  .Film-like {
    cursor: pointer;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 190px;
    right: 10px;
    object-fit: contain;
  }

  .Film-pop {
    position: absolute;
    width: min-content;
    height: 50px;
    top: 190px;
    left: 10px;
    background: white;
    border-radius: 5px;
    display: flex;
    justify-content: start;
    align-items: center;

    img {
      margin-left: 5px;
      object-fit: contain;
      width: 45px;
      height: 45px;
    }

    span {
      margin-left: 5px;
      margin-right: 5px;
    }
  }

  .Film-title {
    position: absolute;
    top: 0;
    background: white;
    font-size: 30px;
    padding: 5px 10px;
    margin: 0;
    border-radius: 0 0 10px 10px;
  }

  .Film-des {
    margin-top: 10px;
    font-size: 20px;
  }

  .Film-gen {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 50px;
    gap: 10px;
    position: absolute;
    top: 190px;
    max-width: 1000px;

    span {
      height: 100%;
      font-size: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #949494;
      padding: 5px;
      border-radius: 5px;
      color: white;
    }
  }

  @media (max-width: 1000px) {

    .Film-gen {
      display: flex;
      position: unset;
      top: unset;

      justify-content: start;
      align-items: center;
      height: 50px;
      gap: 10px;

      span {
        height: unset;
        font-size: unset;
        background: #949494;
        padding: 5px;
        border-radius: 5px;
        color: white;
      }
    }
  }
}